.interna_produto {
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.produtos_item {
    padding-top: 60px;
}

.produtos_icone {
    background: black;
    padding: 70px 0;
}

.produtos_icone img {
    margin: 0 auto;
}

.produtos_item h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    color: white;
    top: -180px;
    text-align: center;
    margin-bottom: -56px;
}

.produtos_item h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 6px auto 8px auto;
}

.produtos_item h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 6px auto 8px auto;
}

.produto_info {
    background: black;
}

.produto_info p {
    color: white;
    font-size: 18px;
    line-height: 25px;
    height: 180px;
    padding: 30px 40px;
}

.produto_info ul li {
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 229px;
    height: 49px;
    padding-top: 16px;
}

.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
    margin-left: 2px;
}


/* Formulario */

.orcamento {
    background: black;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2 {
    color: #fec63e;
}

.orcamento h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px auto 8px auto;
}

.form {
    padding-right: 60px;
}

.form label {
    display: block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}

.form input {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: black;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form input::placeholder {
    color: white;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 4px solid #fec63e;
    background: black;
    color: white;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.form textarea::placeholder {
    color: white;
}

.btn_produto {
    background: none;
    padding: 7px 40px;
}

.orcamento_dados h3 {
    color: #fec63e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.orcamento_dados {
    color: white;
}

.orcamento_dados span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.orcamento_dados span:nth-of-type(even) {
    margin-bottom: 30px;
}

.orcamento_dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 15px;
}

.orcamento_dados ul {
    padding-right: 60px;
}

.orcamento_dados ul li:nth-child(odd) {
    background: #1d1d1d;
}

.orcamento_dados p {
    margin: 8px 0;
}